@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *:before, *:after, html, body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.img-container {
  display: flex;
  width: 700px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-image-container {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  padding: 3px;
}
h1 {
  text-align: center;
}
form {
  width: 500px;
  margin: 0 auto;
}
form input {
  width: 100%;
}
select {
  width: 100%;
}
.submit {
  width: 100px;
  margin-top: 20px;
}
.linkTag {
  text-align: right;
  margin: 30px;
}
/* a .nav_home:hover {
  color: blue;
} */
a .cereal_link {
  margin-top: 50px;
  width: 700px;
  margin: 0 auto;
}
.cereal_link {
  margin-top: 20px;
  text-align: center;
}