@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *:before, *:after, html, body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{ 
  padding: 0;
  background: url("https://images.unsplash.com/photo-1504308805006-0f7a5f1f0f71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
.form-container {
  width: 100%;
 
}
.img-container {
  display: flex;
  width: 700px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.profile-container, .user-image-container {
  background-color: white;
  border-radius: 10px;
  width: 700px;
  margin: 0 auto;
  padding: 10px;
}
.name-tag {
  background-color: #ffbcbc;

}
.big-img-icon {
  width: 700px;
  height: 400px;
  padding-right: 20px;
}

.profile-container {
  align-items: center;
}
.user-image-container {
  display: flex;
  flex-wrap: wrap;

}
img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  padding: 3px;
}
h1 {
  text-align: center;
}
.form-container {
  background-color: white;
}
.form {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 500px;
  margin: 0 auto;
  font-weight: 400;
}
form input {
  width: 100%;
}
select {
  width: 100%;
}
.submit {
  width: 100px;
  margin-top: 20px;
}
.linkTag {
  text-align: right;
  margin: 30px;
}

a .cereal_link {
  margin-top: 50px;
  width: 700px;
  margin: 0 auto;
}
.cereal_link {
  margin-top: 20px;
  text-align: center;
  padding-right: 40px;
}

.submit {
  background-color: #ffbcbc;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.3s;
}
.submit:hover {
  opacity: 1;
}
.submit-cereals  { 
  background-color: #ffbcbc;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.cereal_link {
  text-align: right;
}
.submit-cereals-container {
  padding-top: 20px;
  text-align: center;
}